<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kittimasak.hangman">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hangman"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/hangman"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.kittimasak.s300342.FrontActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.kittimasak.s300342.MainActivity"
            android:parentActivityName="com.example.kittimasak.s300342.FrontActivity">
        </activity>

        <activity
            android:name="com.example.kittimasak.s300342.RulesActivity"
            android:parentActivityName="com.example.kittimasak.s300342.FrontActivity">
        </activity>

        <activity
            android:name="com.example.kittimasak.s300342.StatisticActivity"
            android:parentActivityName="com.example.kittimasak.s300342.FrontActivity">
        </activity>
    </application>

</manifest>